
/*------ NavBar------ */

.Link a {
  font-size: 30px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  border-bottom: 1px solid black;
}
.Link{
  align-items: center;
  background-color: white;
  text-align: center;
}
.navList{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.github{
 border: 1px solid black;
 height:30px;
 background-color: white;
 margin: 5px;
}
.linkedin{
 border: 1px solid black;
 margin:5px;
 padding:1px;
 background-color: white;
} 


/* ------Homepage----- */
.homepage{
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headshot{
  height: 200px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Typed {
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
}

/* -------About------- */
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.about p{
  width: 50%;
  padding: 5px;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 0;
  margin-bottom: 0;
}

.AWCert{
  width: 50%;
}

/*-------- Projects------- */
.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(https://img.freepik.com/free-photo/low-angle-shot-mesmerizing-starry-sky_181624-27925.jpg?size=626&ext=jpg&ga=GA1.1.909629623.1693878013&semt=sph); */
  background-size: cover;
  padding-bottom: 100px;
}
.recipeDiv{
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.recipeHomepage{
  border: 1px solid black;
  height: 200px;
  width: auto;
  margin: 5px;
  padding: 5px;
  background-color: black;
}
.proLink{
  border: 1px solid black;
  color: black;
  margin: 3px;
  padding: 3px;
}
.proLink:hover {
  background-color: lightgray;
}

.recipeDiv p{
  width: 250px;
}
/* -------Resume--------- */
.resume{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}
iframe{
  width: 85%;
  height: 1115px;
  margin-bottom: 50px;
}
@media screen and (max-width: 280px){
  .navList{
    flex-direction: column;
  }
}